body, html {
    height: 100%;
    line-height: 1.45!important;
    font-size: 14px;
    background: #ffffff;
    color: #666;
    padding: 0;
    margin: 0;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 36px;
    font-weight: 300;
    color: #2C3E50;
}

#top {
    color: #fff;
    a {
      color: #fff;
    }
    background-color: #2C3E50;
    position: relative;
    overflow: visible;
    clear: both;
    font-size: 24px;
    font-weight: 600;
}

.brand {
  padding: 14px 21px;
}

#left {
    width: 20%;
    float: left;
    margin-left: -100%;
    max-width: 325px;

}

.alarms {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: .46rem solid #FAFAF8;
  background-color: #FAFAF8;
}

a:visited, a:link
{
    text-decoration: none;
}

.services {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-li {
  border: 1px solid #EFF0EC;
  margin-bottom: .3rem;
}
.status-icon {
    width: 13px;
    height: 14px;
    line-height: 0;
    margin-right: .3rem;
}
.alarm-tile {
    margin: 0;
    height: auto;
    padding: .8em .5em .8em 1.5em;
    margin-bottom: .46rem;
    background-color: #fff;
    border-radius: 0;
    color: #666;

    h2, p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
    }

    &.ok {
      background: linear-gradient(to right,#39aa56 0,#39aa56 8px,#fff 8px,#fff 100%) no-repeat;
      a {
        color: #39aa56;
      }
    }

    &.error {
      background: linear-gradient(to right,#db4545 0,#db4545 8px,#fff 8px,#fff 100%) no-repeat;
      a {
        color: #db4545;
      }
    }
}

.service-tile {
    margin: 0;
    height: auto;
    padding: .8em .5em .8em 1.5em;
    background-color: #fff;
    border-radius: 0;
    color: #666;

    h2, p {
      margin: 0;
      font-size: 16px;
      font-weight: 400;
    }

    &.ok {
      background: linear-gradient(to right,#39aa56 0,#39aa56 10px,#fff 10px,#fff 100%) no-repeat;
      a, h2 {
        color: #39aa56;
      }
    }

    &.error {
      background: linear-gradient(to right,#db4545 0,#db4545 10px,#fff 10px,#fff 100%) no-repeat;
      a, h2 {
        color: #db4545;
      }
    }

    &.muted {
      background: linear-gradient(to right,#ddd 0,#ddd 10px,#fff 10px,#fff 100%) no-repeat;
      a, h2 {
        color: #888;
      }
    }

    .subtitle {
      margin-top: 0.4em;
      padding-left: 51px;
      height: 23px;
    }
}

.section {
  vertical-align: middle;
  display: inline-block;
  margin: .4em 0;
  font-size: 16px;
}

.section1 {
  width: 40%;
  border-right: 1px solid #EFF0EC;
}

.section2 {
  width: 20%;
  margin-left: 1em;
  font-size: 15px;
}

.row-item {
  display: block;
  vertical-align: middle;
  padding-left: 0;
  margin: .2em;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
}


.timeout-input {
  font-size: 16px;
}

.wrapper-main {
    width: 80%;
    float: left;
    margin-left: 20%;
    overflow: visible;
}

#main {
    position: relative;
    padding: 1.8em 1.07143rem 5em;
}

.alarm-title {
  font-size: 14px;
  border-bottom: solid 2px #f1f1f1;
  font-weight: 600;
  width: 90%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.icon {
	display: inline-block;
	fill: currentColor;
  vertical-align: middle;
}

.icon-heartbeat {
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 0.4em;
  padding-bottom: 0.2em;
}

.icon-checkmark {
  width: 14px;
  height: 14px;
  color: #39aa56;
  margin-right: 0.7em;
}

.icon-mute {
  width: 14px;
  height: 14px;
  color: #888;
  margin-right: 0.7em;
}

.icon-cross {
  width: 14px;
  height: 14px;
  color: #db4545;
  margin-right: 0.7em;
}

.icon-clock {
  width: 16px;
  height: 16px;
  color: #888;
  margin-right: 0.4em;
}

.icon-stopwatch {
  width: 16px;
  height: 16px;
  color: #888;
  margin-right: 0.4em;
}

.icon-rainy {
  width: 16px;
  height: 16px;
  color: #888;
  margin-right: 0.4em;
}
.icon-calendar {
  width: 16px;
  height: 16px;
  color: #888;
  margin-right: 0.4em;
}

.label-align {
  vertical-align: middle;
}

.checkbox {
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: rgba(255,255,255,.05);
  border: 1px solid rgba(155,155,155,.57);
  font-size: 1px;
  height: 12px;
  margin: 0 12px 0 0px;
  outline: 0;
  width: 12px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
  }

  font-size: 14px;
  color: #666;
  cursor: default;
  padding-left: 1px;
  line-height: 0.8;
}

.toolbar {
  margin-bottom: 10px;
}

.tool-btn {
    background-color: #f1f1f1;
    border: 1px solid rgba(0,0,0,0.1);
    color: #444;
    border-radius: 2px;
    cursor: default;
    text-align: center;
    white-space: nowrap;
    padding: 6px 20px;
    display: inline-block;
    margin-right: 10px;
    outline: 0;

    &:hover {
          background-color: #f8f8f8;
    }
    &:active {
          background-color: #cacfd2;
    }

    &:disabled {
      background-color: #f8f8f8;
      color: #bbb;
    }
}

.btn-icon {
	display: inline-block;
	fill: currentColor;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}

.beat-analysis {
  font-size: 15px;
  .unstable, .learning {
    font-style: italic;
  }
}

.section-row {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 1em;
  display: block;
}

.section-row+.section-row {
  margin-top: 6px;
}
.services-enter {
  opacity: 0.01;
}

.services-enter.services-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.services-leave {
  opacity: 1;
}

.services-leave.services-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}

.lastbeat-enter {
  opacity: 0.5;
}

.lastbeat-enter.lastbeat-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}
