## Every section and key is documented, and the default values are
## provided here (commented out).

##
## The database stores information about all services and views. It's
## in one single file and it's safely rewritten on save, which it does
## when exiting the program as well as every minute while running. This
## can be changed by the 'interval' setting.
##
## You can specify an Amazon S3 URL as 'remote_s3_url' from where it
## should download the database on start, and upload when it's saved.
#
#[database]
#filename = "lovebeat.db"
#interval = 60
#remote_s3_url = ""
#remote_s3_region = ""


##
## UDP listener, in statsd format
#
#[udp]
#listen = ":8127"

##
## TCP listener, in statsd format
#
#[tcp]
#listen = ":8127"

##
## TCP listener, for the dashboard and the HTTP API
#
#[http]
#listen = ":8081"

##
## SMTP settings, for the mail alerter.
#
#[mail]
#server = "localhost:25"
#from = "lovebeat@example.com"

##
## Configuration for slack integrations
#
#[slack]
#webhook_url = "https://hooks.slack.com/services/TXXXXXXXX/BXXXXXXXX/XXXXXXXXXXXXXXXXX"

##
## Metrics reporting to a statsd proxy, using the UDP protocol.
## Note that this one is by default disabled, but can be enabled
## by specifying a server address and port, e.g. "localhost:8125"
#
#[metrics]
#server = ""
#prefix = "lovebeat"

##
## Configuration of the logfile where events are logged. An empty
## or unset path disables the logging.
#
#[eventlog]
#path = "/var/log/lovebeat/events.json"
#mode = 644
