<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">
          Lovebeat Dashboard
        </div>
        <div class="breadcrumb-links">
          <a href="#/">Home</a> / Add View
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Add View</h2>
      <form class="form-horizontal" role="form" method="POST" ng-submit="createView()" >
	<div class="form-group">
	  <label for="identifier">Identifier</label>
	  <input ng-model="view.name" type="text" class="form-control" id="identifier" placeholder="your.name.here">
	</div>
	<div class="form-group">
	  <label for="regexp"></label>
	  <input ng-model="view.regexp" type="text" class="form-control" id="regexp" placeholder="e.g. manual.*">
	</div>
	<div class="form-group">
	  <label for="alert_mail"></label>
	  <input ng-model="view.alert_mail" type="text" class="form-control" id="alert_mail" placeholder="e-mail addresses, separated by comma ','">
	</div>
	<div class="form-group">
	  <label for="webhooks"></label>
	  <input ng-model="view.webhooks" type="text" class="form-control" id="webhooks" placeholder="Webhook URL">
	</div>
	<button type="submit" class="btn btn-default">Create</button>
      </form>
    </div>
  </div>
</div>
