<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">
          Lovebeat Dashboard
        </div>
        <div class="breadcrumb-links">
          <a href="#/">Home</a> / Edit Service
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Edit {{service.name}}</h2>
      <form class="form-horizontal" role="form" method="POST" >
	<div class="form-group">
	  <label for="warn_tmo">Warning Timeout</label>
	  <input ng-model="service.warn_tmo_hr" type="text" class="form-control" id="warn_tmo" placeholder="e.g. 2d or 3h 30m">
	</div>
	<div class="form-group">
	  <label for="err_tmo">Error Timeout</label>
	  <input ng-model="service.err_tmo_hr" type="text" class="form-control" id="err_tmo" placeholder="e.g. 2d or 3h 30m">
	</div>
	<div class="form-group">
	  <button type="submit" ng-click="editService()" class="btn btn-default">Update</button>
	</div>
	<div class="form-group">
	  <div class="panel panel-danger">
	    <div class="panel-heading">
	      <h3 class="panel-title">Delete Service</h3>
	    </div>
	    <div class="panel-body">
	      There is no undo.
	      <button ng-click="deleteService()" type="submit" class="btn btn-danger pull-right">Delete</button>
	    </div>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>
