<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">
          Lovebeat Dashboard
        </div>
        <div class="breadcrumb-links">
          <a href="#/">Home</a> / Edit View
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <h2>Edit {{view.name}}</h2>
      <form class="form-horizontal" role="form">
	<div class="form-group">
	  <label for="regexp"></label>
	  <input ng-model="view.regexp" type="text" class="form-control" id="regexp" placeholder="e.g. manual.*">
	</div>
	<div class="form-group">
	  <label for="alert_mail"></label>
	  <input ng-model="view.alert_mail" type="text" class="form-control" id="alert_mail" placeholder="e-mail addresses, separated by comma ','">
	</div>
	<div class="form-group">
	  <label for="webhooks"></label>
	  <input ng-model="view.webhooks" type="text" class="form-control" id="webhooks" placeholder="Webhook URL">
	</div>
	<div class="form-group">
	  <button type="submit" ng-click="editView()" class="btn btn-default">Update</button>
	</div>
	<div class="form-group">
	  <div class="panel panel-danger">
	    <div class="panel-heading">
	      <h3 class="panel-title">Delete View</h3>
	    </div>
	    <div class="panel-body">
	      There is no undo.
	      <button ng-click="deleteView()" type="submit" class="btn btn-danger pull-right">Delete</button>
	    </div>
	  </div>
	</div>
      </form>
    </div>
  </div>
</div>
