<div class="container-fluid">
  <div class="row header">
    <div class="col-xs-12">
      <div class="meta pull-left">
        <div class="page">
          Lovebeat Dashboard
        </div>
        <div class="breadcrumb-links">
          <a href="#/">Home</a> / Views
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
	<div class="col-md-12">
	  <div class="widget">
	    <div class="widget-title">
              <i class="fa fa-tasks"></i> Views
            </div>
	    <div class="widget-body no-padding">
	      <table class="table">
		<tbody>
		  <tr ng-repeat="view in views | orderBy:'name'">
		    <td ng-if="view.state == 'ok'"><span class="text-success ng-scope"><i class="fa fa-check"></i></span></td>
		    <td ng-if="view.state == 'warning'"><span class="text-warning ng-scope"><i class="fa fa-warning"></i></span></td>
		    <td ng-if="view.state == 'error'"><span class="text-danger ng-scope"><i class="fa fa-times"></i></span></td>
		    <td><a href="#/views/{{view.name}}/services">{{view.name}}</a></td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
